@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 80px;
  margin: 0 0 0 12px;
}

.nav-items {
  list-style: none;
  display: flex;
  padding: 10px 0 10px 0;
}

.nav-items > li {
  padding: 10px;
  font-size: 1.2rem;
  margin: 0 50px 0 0;
}

.header {
  background-color: white;
}
.main-content {
  padding-left: 50px;
  font-size: 1.5rem;
  border-top: 1px solid lightgrey;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.main-content ul {
  line-height: 3rem;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  color: blue;
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
